.reps-container{
    padding: 4rem 0;
}

.reps-container h1{
    text-align: center;
    font-size: 2.5rem;
    color: var(--color-green);
    padding-bottom: 1rem;
}

.rep-about p{
    text-align: center;
    padding-bottom: 2rem;
}

.country {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 2rem 0;
    /* width: 100%; */
}

.country img{
    border-left: 8px solid var(--color-green);  
    border-right: 8px solid var(--color-green);  
    width: 100%;
    transition: 800ms all ease;
}

.country img:hover{
    box-shadow: 0 3px 3px 3px rgb(204, 207, 205);
    transform: translateY(-8px);
}

.country p{
    font-size: 1rem;
    text-align: justify;
}

@media screen and (max-width: 1190px) {
    .country {
        display: block;
    }

    .country h2 {
        padding: 1rem 0;
    }
}

@media screen and (max-width: 600px) {
    .country img{
        width: 100%;
        padding: 0;
    }

    .reps-container h1{
        font-size: 2rem;
    }
}