.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.modal {
  background: rgb(152, 146, 146);
  width: 85%;
  padding: 1em;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.modal-body{
  width: 90%;
  color: #0000;
  margin: o auto;
}

.modal-body img {
  width: 30%;
}

.close-btn{
  float: right;
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
}