.modal-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: #000000e6;
  z-index: 999;
}

.modal {
  background: var(--color-neg);
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  height: 100vh;
  overflow-y: scroll;
}

.modal-body{
  width: 95%;
  margin: o auto;
}

.modal-body p i{
  font-size: 0.9rem;
}

.modal-body p{
  margin-top: 0.5rem;
}

.modal-body h3{
  margin-top: 1rem;
}

.modal-body img {
  width: 25%;
  margin: 0 auto;
}

.close-btn{
  float: right;
  padding: 0.3rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 800ms all ease;
}

.close-btn:hover {
  background: rgb(147, 145, 145);
}