.home6 {
  background: #45351b;
  padding: 2rem 0;
}

.home6 .end {
    color: #ffffff;
}

.end .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 1rem;
    color: var(--color-neg);
    font-size: 1.3rem;
}

.social a{
    color: var(--color-primary);
}

.social a:hover{
    color: rgb(207, 206, 206);
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.footerlist ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.footerlist li a {
    color: #ffffff;
    text-decoration: none;
    transition: 800ms all ease;
}

.footerlist li a:hover{
    color: var(--color-neg);
}

.copy {
    text-align: center;
    color: var(--color-primary) !important;
    font-size: 0.9rem;
}

@media screen and (max-width: 698px) {

    .footerlist ul {
        display: block;
    }
}