.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

@media screen and (max-width: 1200px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}