.mentors {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .mentors {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .mentors {
    grid-template-columns: 1fr;
  }
}